---
layout: default
---


<div id="top" class="container" role="document">
  <div class="nav-center">
    <a class="brand">
      <img alt="bk voxelised" src="{{ "/img/bk-voxels.png" | prepend: site.url }}"/>
    </a>
  </div>
  
  {{ content }}
  
</div>

<br>
<footer class="text-center text-light">
  <p> <small><img src="https://icongr.am/simple/github.svg?size=16&color=a4565d&colored=false" alt="icon"> Modify, fix, or propose links: <a href="https://github.com/tudelftgeomatics/gm_landing/blob/main/_data/links.yml">github.com/tudelftgeomatics/gm_landing/</a></small></p>
</footer>
